.botonImagenEdit {
    
    background-image: url('imagenes/edit_icon-icons.com_52382.png');
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    background-position:center;
    ba
}
